/* All */
* {
  color: black;
}

/* Page 1 */

/* Image */
.main-img {
  width: 200px;
  margin-top: 10px;
}

/* link */
ul {
  list-style: none;
  padding-left: 0px;
}

/* Background color : */
body {
  background-color: azure;
}

/* Titles : */

h2 {
  font-family: "Slabo 27px", serif;
  color: navy;
}

/* Main text : */
p {
  font-family: "Noto Sans", serif;
}

/* Title 1 :*/
h1 {
  font-family: "DM Serif Display", serif;
  font-size: 3rem;
  margin-top: 1vw;
  margin-bottom: 1vw;
  padding-bottom: 1vw;
  padding-top: 1vw;
}

#name,
#mail,
#phone,
#message {
  margin-bottom: 10px;
  margin-top: 10px;
}

header {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: cornflowerblue;
  padding-bottom: 0vw;
  align-items: center;
  gap: ;
}

#sub {
  margin-top: 10px;
  background-color: cadetblue;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

footer {
  background-color: cornflowerblue;
  margin-top: 1vw;
  margin-bottom: 1vw;
  padding-bottom: 3vw;
  padding-top: 3vw;
}

li {
  color: white;
  margin-left: 3rem;
}
