/* All */
* {
  color: black;
}

/* Page 1 */

/* Image */
.main-img {
  width: 200px;
  margin-top: 10px;
}

/* link */
ul {
  list-style: none;
  padding-left: 0px;
}

/* Background color : */
body {
  background-color: azure;
}

/* Titles : */

h2 {
  font-family: "Slabo 27px", serif;
  color: navy;
}

/* Main text : */
p {
  font-family: "Noto Sans", serif;
}

/* Title 1 :*/
h1 {
  font-family: "DM Serif Display", serif;
  font-size: 3rem;
  margin-top: 1vw;
  margin-bottom: 1vw;
  padding-bottom: 1vw;
  padding-top: 1vw;
  padding-left: 2vw;
}

#name,
#mail,
#phone,
#message {
  margin-bottom: 10px;
  margin-top: 10px;
}

header {
  display: flex;
  width: 100%;
  height: 30%;
  background-color: cornflowerblue;
  padding-bottom: 0vw;
  align-items: center;

  li {
    color: white;
    margin-left: 12vw;
  }
}

#sub {
  margin-top: 1vw;
  background-color: cadetblue;
  color: white;
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 2vw;
  padding-right: 2vw;
}

footer {
  background-color: cornflowerblue;
  margin-top: 2vw;
  margin-bottom: 1vw;
  padding-bottom: 3vw;
  padding-top: 3vw;
}

.oxenfree-img {
  width: 40vw;
}

#link {
  color: blue;
}

.about {
  width: 30%;
}

.pic {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.img2 {
  width: 100%;
}
